* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'NanumHuman', sans-serif;
}


img {
    object-fit: cover;
    width: 100%;
}

.wrapper {
    background-color: #f1f1f1;
}

main {
    width: 100%;
    max-width: 430px;
    margin: auto;
    background-color: #fff;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    font-size: 16px;
}

.tossface {
    font-family: Tossface;
}

.content {
    padding: 24px 48px;
    /*height: 100%;*/
}

#cover {
    background: url("./cover-2.png") no-repeat top;
    background-size: contain;
    height: 932px;
    position: relative;
}

#invitation {
    text-align: center;
    letter-spacing: 8px;
    background-color: #fff;
    width: fit-content;
    margin: auto;
}

.cover-headline h1 {
    font-size: 40px;
    font-family: 'NanumMyeongjo', serif;
    text-align: center;
    /*margin-bottom: 16px;*/
    line-height: 1.3;
    background-color: #fff;
    width: fit-content;
    margin: auto;
    padding: 0 8px;
    border-radius: 4px;
}

.cover-headline {
    margin-bottom: 40px;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

.cover-headline p {
    text-align: center;
    line-height: 1.5;
}

.cover-body {
    display: flex;
    flex-direction: column;
    gap: 16px;
    position: absolute;
    bottom: 18%;
    left: 50%;
    transform: translateX(-50%);
}

.label {
    width: fit-content;
    padding: 6px 14px;
    color: #fff;
    border-radius: 999px;
    background-color: darkblue;
    font-size: 14px;
}

.cover-body {
    width: 100%;
}

.cover-body-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4px;
}

.cover-body-item:last-child {
    align-items: start;
    margin: auto;
}

.cover-body-item:last-child .label {
    align-self: center;
}

.img-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 8px;
    padding: 0 8px;
}

.img-grid img {
    width: 100%;
    object-fit: cover;
    height: 100%;
}

.label-body {
    font-size: 18px;
    text-align: center;
    line-height: 1.5;
    font-family: 'NanumHumanlight', sans-serif;
}

.caption {
    font-size: 17px;
    font-family: inherit;
}

.label-body span {
    font-weight: 700;
    font-size: inherit;
}

.main-body li {
    /*list-style: none;*/
    margin-bottom: 24px;
}

.main-body li p {
    font-family: 'NanumHumanlight', sans-serif;
    font-size: 18px;
    line-height: 1.7;
    margin-bottom: 4px;
    letter-spacing: -0.4px;
}

.main-body li p.signature {
    text-align: right;
    margin-top: 24px;
    font-size: 16px;
}

.host {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.footer {
    background-color: #f9f9f9;
    padding: 32px 24px;
}

.footer p:last-child {
    font-size: 20px;
}

.img-caption {
    padding: 4px 40px;
    font-size: 16px;
    font-family: 'NanumHumanlight', sans-serif;
    margin-top: 4px;


}

#map img {
    grid-column: 1 / 3;
}

.info {
    padding: 32px 24px;
    background-color: #f5f5f5;
    border-bottom: 1px solid #a1a1a1;
}

#church-image {
    margin-bottom: 16px;
    padding-top: 24px;
}

.address {
    margin-bottom: 16px;
}

.address h3 {
    margin-bottom: 8px;
}

.address ul li {
    font-family: 'NanumHumanlight', sans-serif;
    line-height: 1.5;
    margin-left: 20px;
}


#transfer div {
    display: flex;
    gap: 16px;
}

#transfer ul li {
    /*margin-left: 20px;*/
    list-style: none;
}

#transfer-bus {
    margin-bottom: 16px;
}

#transfer ul li p {
    font-family: 'NanumHumanlight', sans-serif;
    line-height: 1.5;
}

#transfer ul li h3 {
    margin-bottom: 8px;
}

#support h3 {
    margin-bottom: 16px;
}

#support ul li {
    font-family: 'NanumHumanlight', sans-serif;
    line-height: 1.5;
    margin-left: 20px;
}

#support ul li:first-child {
    list-style: none;
    margin-left: 0;
}

#desc h3 {
    margin-bottom: 8px;
}

#desc p {
    font-family: 'NanumHumanlight', sans-serif;
    line-height: 1.5;
}

#promotion div {
    margin-bottom: 24px;
}

#promotion div h3 {
    margin-bottom: 8px;
}

#promotion div ul li {
    font-family: 'NanumHumanlight', sans-serif;
    line-height: 1.5;
    margin-left: 20px;
}

.info strong {
    color: blue;
}